# gitignore 语法 (#代表注释)
# 1. 如果匹配模式前有 / 代表项目根目录
# 2. 如果匹配模式最后有 / 代表当前目录
# 3. 如果匹配模式前有 ! 代表取反,即不忽略该文件或文件夹
# 4. * 代表任意字符
# 5. ? 表示匹配任意一个字符
# 6. ** 表示匹配多级目录

#logs
*.log   #表示所有以.log 结尾的文件都忽略
npm-debug.log*
node_modules/
*.swp
.idea/
build/

# 表示忽略node_modules 下所有文件夹下的index.js文件，不论中间有多少层文件夹
node_modules/**/index.js












